.callout {
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    padding: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.callout h2 {
    margin-bottom: .5em;
    font-weight: bold
}

.callout .icon {
    width:auto; 
    height:100%;
    margin-right: .5rem;
}