.color {
    /*bgs*/
  color: #2f2d29;
  color: #383736;
  color: #3c3934;
  color: #4d4d4f;
  color: #4f4f4d;
    /*btns*/
  color: #6e6f6b;
  color: #6f6e6b;
  color: #757573;
  color: #898884;
  color: #bd8a00;
  color: #dad8ce;
  color: #dbe3de;
  color: #d9b945;
  color: #e2d2a2;
   /*text*/
  color: #e5e3e8;
  color: #e6e5de;
  color: #f2eff3;  
  color: #f3eefb;
  color: #f3f1f7;
  color: #f5eff9;
  color: #f8f1f9;
  color: #fff1c7;
  color: #fff4d6;
  color: #fffbef;
  
  color: #ffc14f;
 



    }