/*darkmode css*/

a, #boost-campus-course-settings .card-body a, .ui-widget-content a, .btn-link, 
.inplaceeditable .quickeditlink {
    color: #e2d2a2;
 }

 body, .custom-select {
     background-color: #f5eff9;
 }

 ol.checklist .itemblack, .block_writinghelp .card-text a h4, .popover-body,
 .dropdown-menu.show .dropdown-item a{
    color: #fff9e8;
 }

 .text-primary {
     color:inherit!important;
 }


 /*Need to add a bg to red text to keep contrast ratio up*/
 .checklist-itemoverdue {
    color: #950F0F;
    letter-spacing: 1px;
    margin-left: 5px;
    padding-right: 2px;
    background-color: #EBEBEB;
}

/*border changes*/
.block .block-cards .course-summaryitem, .nav-tabs, .nav-tabs .nav-link.active, .block-course-overview .courseovbox, 
.border-bottom, .btn-outline-secondary, .btn-outline-primary, .nav-tabs .nav-link:hover,
.course-content ul.topics li.section.main, .card-body, .generaltable thead th, .dropdown-divider,
.tour-actions > ul > li, .mform fieldset, #page-header .card {
    border-color: rgba(10, 10, 10, 0.25)!important;
}

.path-grade-report-grader .gradeparent table, .page-link, .generaltable th, .generaltable td {
    border-color: rgba(10, 10, 10, 0.5)!important;
}

.checklistreport .cell.level0 {
    background-color: #3a3a38;
}

.checklistreport .header, .bs-popover-right, .bs-popover-top, .bs-popover-left, .bs-popover-bottom{
    background-color: #3a3a3b;
}

 .path-mod-assign .gradingtable tr.unselectedrow td, .que .info,
 .preferences-container tr td:nth-child(odd) .container-fluid, #frontpage-available-course-list,
 #page-my-index  {
    background-color: #4f4f4d;
 }
.list-group-item, #dataTable_info, #dataTable_filter, #dataTable_length {
    color: #e5e3e8;
    background-color: #4f4f4d;
    letter-spacing: 0.5px; 
}

/*class colour swaps*/
.bg-dark {
    background-color: #4f4f4d!important;
}

.btn-primary {
    color: #f8f1f9;
    background-color: #898884!important;
    border-color: #898884!important;
}
.sectionhead.toggle.toggle-arrow {
    background-color: #d2d0cb !important;
}

.btn.btn-secondary {
    background-color: #dad8ce;
    border-color: #dad8ce;
}

.card-title.d-inline {
    letter-spacing: .7px;
    color: #fff1c7;
 }

.courseovbox, .block .block-cards .course-summaryitem, .path-course-view .unread,
span.unread, .tour-actions > ul > li {
    background-color: #3a3936;
}

.courseovbox.row-fluid a  {
   color: #fff4d6!important;
}

.courseovbox.row-fluid {
 color: #f8f1f9;
}

.bs-popover-top {
    background-color: #2f2d29;
}

.popover-header {
    background-color: #d9b945;
    color: #1d1c1a;
    font-weight: 600;
    border-bottom-color: #e5e3e8;
}

.calendar_event_site {
    background-color: #4ab72e;
}

.calendar_event_category {
    background-color: #ff4cff;
}

.calendar_event_course {
    background-color: #ff935d;
}

.calendar_event_group {
    background-color: #fffa74;
}

.calendar_event_user {
    background-color: #0edcda;
}

td.day.text-center.today a {
    color: #ffc14f;
}
td.day.text-center.today {
    border: 1px solid #e2d2a2;
}

td.day.text-center.hasevent.calendar_event_site a, 
.course-img-uploader-container .course-image-uploader,
.course-content ul.ctopics li.section .content .toggle a {
    color: black;
}

.block .card-body, .card, .callout, .pagelayout-embedded #page {
    border-color: rgba(10, 10, 10, 0.25);
    background-color: #4f4f4d;
    color: #e5e3e8;
}

.card-title.d-inline {
    letter-spacing: .5px;
    color: #fff1c7;
 }

#page.container-fluid {
    background-color: #33322f;
}

.course-content ul.topics li.section.main.current {
    background: #3c3934;
}

.contentwithoutlink, .contentafterlink .isrestricted {
    color: #f3eefb; 
}

.coursebox {
    background-color: #2f2d29;
}

.dropdown-item.menu-action{
    background-color: #4d4d4f;
    color: #f3f1f7;
}

.filemanager-container {
    background-color: white!important;
    color: black!important;
}

.form-control {
    background-color: #efede7;
}

.format-site, .path-mod-assign [data-region="grade-actions-panel"] {
    background-color: #2f2d29;
    color: #e5e3e8;
}

.logininfo {
    margin-top: 1px;
}

.modal-content, .modal-footer, .modal-header, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1 {
    background-color: #4f4f4d;
    color: #f2eff3;
    border-color: rgba(10, 10, 10, 0.25)!important;
}

.nav-tabs .nav-link.active {
    color: #2f2d29;
    background-color: #e2d2a2;
    border-color: #e5e3e8 #e5e3e8 #e5e3e8;
}

.oubloglmt, .section .activity .availabilityinfo, .path-mod-workshop .userplan dt,
.path-mod-workshop .userplan dd, .path-mod-workshop .userplan dd a, 
.path-mod-workshop .userplan dd a:link {
    color: #f3eefb; 
}

.overlay-icon-container {
    background-color: rgba(47, 45, 41, 0.64);
}

.overview-description {
 color: #e6e5de;
}

/*table colors*/
.path-grade-report-grader .gradeparent tr .cell,
.path-grade-report-grader .gradeparent .floater .cell,
table.dataTable tr.odd, .path-mod-workshop .userplan dd,
table.dataTable tr.odd td.sorting_1, .courses .coursebox.even,
.mod_turnitintooltwo .top.listbar.clearfix {
    background-color: #3c3934;
}
.submissionsDataTable .odd {
    background: #3c3934!important;
}

.submissionsDataTable .even {
    background: #4d4d4f!important;
}
.path-grade-report-grader .gradeparent tr:nth-of-type(even) .cell,
.path-grade-report-grader .gradeparent .floater tr:nth-of-type(even) .cell,
table.dataTable tbody tr.even, .path-mod-workshop .userplan, .dropdown-menu,
.popover-region-container, .popover-region-footer-container, .path-mod-assign [data-region="grade-panel"] {
    background-color: #4d4d4f;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #585856;
}

.path-grade-report-grader .gradeparent .cell, .border-secondary, .list-group-item {
    border-color: rgba(0,0,0,.125)!important;
}

.path-mod-attendance .attreport .contrast, blockquote {
    background-color: #6f6e6b;
}

.path-mod-assign td.submissionnotgraded {
    background-color: #f2eff3;  
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight, 
.path-mod-quiz #mod_quiz_navblock .qnbutton {
    background-color: #dad8ce;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.answersaved .trafficlight {
    background-color: #938696;
}

.pagination .page-link,
#boost-campus-activity-settings .tab-content .card, 
#boost-campus-course-settings .tab-content .card  {
    background-color: #6f6e6b;
    color: #fffce2;
}

.pagination .active .page-link,
#boost-campus-activity-settings .nav-tabs .active,
#boost-campus-course-settings .nav-tabs .active {
    background-color: #dad8ce;
    border-color: #dad8ce;
    color: #383736;
}

.preferences-container .preference-table tr th:nth-child(even), .preferences-container .preference-table tr td:nth-child(even),
.preferences-container tr td:nth-child(even) .container-fluid, table.dataTable tr.even td.sorting_1  {
    background-color: #6e6f6b;
}

.summary, .dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length,
.btn-outline-secondary, .btn-outline-primary {
    letter-spacing: .5px;
    color: #e5e3e8!important;
}

.tag-info {
    background-color: #bd8a00;
    color: black;
}

.block_heatmap_heat_0 {
    color: black;
    background-color: #f5eea9;
}

.block_heatmap_heat_2,  .block_heatmap_heat_4, .block_heatmap_heat_4 a {
    color: black;
    background-color: #72f17a;
}

.block_heatmap_heat_0 a, .block_heatmap_heat_1 a, .ur_resub_msg {
    color: #1f1e1a!important;
}

.text-info, .highlight {
    color: #bd8a00!important;
}

ul.oublog-accordion li {
    background-color: #4f4f4d;
    color: #e5e3e8;
    border-color:  rgba(10, 10, 10, 0.25);
}

.oublog-post-content, .description.card-block {
    margin-left: 7px;
    margin-right: 3px;
}

.userprofile .profile_tree section {
    background-color: #383736;
}

/*id based colour swaps*/

#intro, .oublog-post.oublog-odd, .path-mod-mediagallery .gallery_list_item,
.path-mod-mediagallery .gallery_list_item .title {
    background-color: #383736;
    letter-spacing: 0.5px;
    border-left-color: #dbe3de;
}

#page-wrapper {
    background-color: #2f2d29;
}

#nav-drawer, .message-drawer, .bg-light, .bg-white {
    background-color: #383736!important;
}


#region-main, .region_main_settings_menu_proxy, .ui-widget-content {
    background-color: #4f4f4d;
    color: #fffbef;
}

.callout-blue {
    background-color: #c1d9ed;
    border-color: #0766b7;
    color: #373a3c;
}

.callout-yellow{
    background-color: #feefc3;
    border-color: #f90;
    color: #373a3c;
}

.callout-aqua {
    background-color: #359aae;
    color: #fff;
}

/*psuedo classes*/
a:hover {
    color: #d9b945;
 }

 a:not([href]):not([tabindex]) {
    color: #373a3c;
}

 .dropdown-item:hover, .list-group-item:hover, .list-group-item:active ,.list-group-item:focus {
    background-color: #2f2d29;
    color: #e6e5de;
 }

 .path-mod-feedback table.analysis tr:hover {
    background: #2f2d29;
 }

 .page-link:hover {
    color: #5e6162;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/*decorated text spacing for easier readability*/
i, b, .teachers {
    letter-spacing: .5px;
} 

a.rubric_manager_launch, a.quickmark_manager_launch {
    color: #4ac3ff!important;
    background: #4f4f4d;
}

.gm-blue {
    color: #4ac3ff!important; 
}

.submissionsDataTable .odd .sorting_1 {
    background: #4f4f4d!important;
}

.submissionsDataTable .even .sorting_1 {
    background: #6f6e6b!important;
}

.ui-widget-content {
    background: #4f4f4d;
}

.mod_turnitintooltwo #refresh_1.refresh_link, 
.mod_turnitintooltwo #nonsubmitters_1.nonsubmitters_link, 
.mod_turnitintooltwo a.messages_inbox, .mod_turnitintooltwo #download_links {
    margin-left: 8px;
}

.submissionsDataTable {
    border: 1px solid #efefef;

}

table.dataTable.no-footer {
    border-bottom: 1px solid #2f2d29;
}

.ui-widget-header {
    background: #fff1c7!important;
}
.ui-state-active, .ui-widget-content .ui-state-active,
 .ui-widget-header .ui-state-activ {
background: #EFEFEF!important;
 }
