.pquote {
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

.quote-pull {
    width: 200px;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}