<div class="mceTmpl">
    <button type="button" class="btn btn-primary"> Link me </button>
    <button type="button" class="btn btn-secondary"> Link me </button>
    <button type="button" class="btn btn-success"> Link me </button>
    <button type="button" class="btn btn-danger"> Link me </button>
    <button type="button" class="btn btn-warning"> Link me </button>
    <button type="button" class="btn btn-info"> Link me </button>
    <button type="button" class="btn btn-light"> Link me </button>
    <button type="button" class="btn btn-dark"> Link me </button>
</div>