{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template boost/header

    This template renders the header.

    Example context (json):
    {
        "contextheader": "context_header_html",
        "settingsmenu": "settings_html",
        "hasnavbar": false,
        "navbar": "navbar_if_available",
        "courseheader": "course_header_html"
    }

    Page header.
}}
{{! MODIFICATION:
    * Changed the order of the settingsmenu item.
}}

<header id="page-header" class="row">
    <div class="col-12 pt-3 pb-3">
        <div class="card {{^contextheader}}border-0 bg-transparent{{/contextheader}}">
            <div id="hdr_chooser_b_div" class="card-body {{^headerstyle}} style-a {{/headerstyle}} {{^contextheader}}p-2{{/contextheader}} header-body" style="background-image:url({{{courseimage}}}); background-size:cover; background-position:center;"> 
                <div class="d-flex page-head">
                    {{#contextheader}}
					<div id="header_a_head" class="flex-row flex-grow-1">
						<div id="hdr_chooser_a_div" class="course-image {{#headerstyle}}d-none{{/headerstyle}}"><img src="{{{courseimage}}}"/></div>
	                    <div class="course-head mr-auto">
		                    <div class="facultydep">
		                        <h5>{{{facultydep}}}</h5>
		                    </div>
	                        {{{contextheader}}}
		                    <div class="instructors {{{instructnum}}}">
		                        {{{instructors}}}
		                    </div>
	                    </div>
					</div>
                    {{/contextheader}}
                </div>
                <div class="editing-row d-flex">
					{{{course_image_uploader}}}
                    {{{course_header_style}}}
				</div>
                <div class="d-flex page-navbkg">
                    {{#hasnavbar}}
                    <div id="page-navbar">
                        {{{navbar}}}
                    </div>
                    {{/hasnavbar}}
                    <div class="pageheadingbutton ml-auto d-flex">
						<div class="ml-auto d-flex">
                            {{{pageheadingbutton}}}
                        </div>
                        {{#settingsmenu}}
                            <div class="context-header-settings-menu">
                                {{{settingsmenu}}}
                            </div>
                        {{/settingsmenu}}
					</div>
                    <div id="course-header">
                        {{{courseheader}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
