{{!
    @template theme_boost_campus/help_icon

    Help icon.

    Example context (json):
    {
        "title": "Help with something",
        "url": "http://example.org/help",
        "linktext": "",
        "icon":{
            "attributes": [
                {"name": "class", "value": "iconhelp"},
                {"name": "src", "value": "../../../pix/help.svg"},
                {"name": "alt", "value": "Help icon"}
            ]
        }
    }
}}
{{! MODIFICATION:
    * Changed data attributes to work with modal dialogues.
    * Added the modal dialogue code.
}}

<a class="btn btn-link p-0" role="button" data-toggle="modal"
    data-placement="{{#ltr}}right{{/ltr}}{{^ltr}}left{{/ltr}}" {{completedoclink}}
    data-target="#{{linkid}}-modal-dialogue" data-html="true">
    {{#pix}}help, core, {{{alt}}}{{/pix}}
</a>

<div class="modal moodle-has-zindex" {{#linkid}}id="{{linkid}}-modal-dialogue"{{/linkid}} data-region="modal-container" aria-hidden="true" role="dialog">
    <div class="modal-dialog {{$classes}}{{/classes}}" role="document" data-region="modal" aria-labelledby="{{uniqid}}-modal-title" tabindex="0">
        <div class="modal-content">
            <div class="modal-header {{$headerclasses}}{{headerclasses}}{{/headerclasses}}" data-region="header">

            {{$header}}
            <h5 id="{{uniqid}}-modal-title" class="modal-title" data-region="title">{{$title}}{{title}}{{/title}}</h5>
            {{/header}}
            <button type="button" class="close" data-action="hide" data-dismiss="modal" aria-label={{#quote}}{{#str}}closebuttontitle{{/str}}{{/quote}}>
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" data-region="body">
            {{$body}}
                {{{body}}}
            {{/body}}
            </div>
            <div class="modal-footer" data-region="footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{# str }} closebuttontitle, moodle {{/ str }}</button>
                {{$footer}}
                {{{footer}}}
                {{/footer}}
            </div>
        </div>
    </div>
</div>
